.clearfix {
  float: none;
  clear: both;
}

#container {
  width: 100vw;
  height: 100%;
  background-color: transparent;
  margin: 0px auto;
}

#contentAside{
  width: fit-content;
  border: none;
  margin: 20px 20px 0px 30px;
}

#aside {
  width: fit-content;
  min-height: fit-content;
  float: left;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba($color: #555, $alpha: 0.5);
}

header {
  width: 100vw;
  height: 65px;
  // background-color: lightblue;
  color: #333;
  box-shadow: 0px 0px 20px rgba($color: #555, $alpha: 0.5);
  line-height: 65px;
  text-align: center;
  z-index: 999; 
  position: sticky;
  top: 0;
}

#articles {
  width: 95%;
  min-height: 700px;
  margin-top: 20px;
  float: left;
  background-color: #fff;
}

#articles article{
  width: 100%;
  min-height: 65px;
  background-color: #fff;
  // box-shadow: 0px 0px 2px rgba($color: #555, $alpha: 0.3);
  // border: 1px solid #333;
  text-align: center;
}

.mat-drawer{
  border-color: white;
  border-right: 0px;
}

#autocomplete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}