.clearfix {
  float: none;
  clear: both;
}

#container {
  width: 100%;
  background-color: transparent;
  margin: 0px auto;
}

#content{
  border: none;
}

header {
  width: 100%;
  height: 65px;
  // background-color: lightblue;
  color: #333;
  box-shadow: 0px 0px 20px rgba($color: #555, $alpha: 0.5);
  line-height: 65px;
  text-align: center;
  z-index: 1;
  position: fixed;
}

#aside {
  width: 20%;
  min-height: 700px;
  margin: 110px 20px 0px 30px;
  float: left;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba($color: #555, $alpha: 0.5);
}

#articles {
  width: 72%;
  min-height: 700px;
  margin-top: 120px;
  float: left;
  background-color: #fff;
}

#articles article{
  width: 100%;
  min-height: 65px;
  background-color: #fff;
  // box-shadow: 0px 0px 2px rgba($color: #555, $alpha: 0.3);
  // border: 1px solid #333;
  text-align: center;
}


#autocomplete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

