<div id="container">

  <header>
    <app-toolbar></app-toolbar>
  </header>

  <mat-sidenav-container class="example-container" autosize>
    
    <mat-sidenav opened #Sidenav class="example-sidenav" mode="side">

      <section id="contentAside">
        <app-panel id="aside"></app-panel>
      </section>
    </mat-sidenav>
  
    <section id="articles">
      <article>
        <app-autocomplete></app-autocomplete>
      </article>
      <article class="cardsContent">
        <app-cards></app-cards>
      </article>
    </section>
  </mat-sidenav-container>
  

</div>

