<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon id="iconMenu">menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <a href="#" id="iconoHome">Demo Vineria</a>
  <span class="example-spacer"></span>

  <span class="buttonSocial">
    <button
      mat-icon-button
      id="facebook"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-icon-button id="whatsapp">
      <span class="material-icons"> whatsapp </span>
    </button>

    <button
      mat-icon-button
      id="instagram"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </span>
</mat-toolbar>
