.example-spacer {
    flex: 1 1 auto;
  }

.buttonSocial{
    margin-left: auto;
}

.mat-mini-fab{
    margin: 4px;
}

#whatsapp:hover{
    transform: scale(1.20,1.20);
    -webkit-transform: scale(1.20,1.20);
    -moz-transform: scale(1.20,1.20);
    -ms-transform: scale(1.20,1.20);
    -o-transform: scale(1.20,1.20);
    cursor: pointer;
}

#facebook:hover{
    transform: scale(1.20,1.20);
    -webkit-transform: scale(1.20,1.20);
    -moz-transform: scale(1.20,1.20);
    -ms-transform: scale(1.20,1.20);
    -o-transform: scale(1.20,1.20);
    cursor: pointer;
}

#instagram:hover{
    transform: scale(1.20,1.20);
    -webkit-transform: scale(1.20,1.20);
    -moz-transform: scale(1.20,1.20);
    -ms-transform: scale(1.20,1.20);
    -o-transform: scale(1.20,1.20);
    cursor: pointer;
}

#iconMenu{
    cursor: pointer;
}

h1{
    text-align: center;
    float: left;
    line-height: 40px;
    // font-size: 30px;
    color: #212121;
}

#logoImg{ 
    width: 50px;
    margin-right: 5px;
    transition: color 500ms, transform 500ms;
    float: left;
}

mat-toolbar a{
    font-size: 30px;
    text-decoration: none;
    color: #212121;
}

