<mat-toolbar color="primary">
  <button
    mat-icon-button
    color="accent"
    aria-label="iconMenu"
  >
    <mat-icon id="iconMenu">menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <a href="#" id="iconoHome">
   <img id="logoImg" src="https://gaboapp.com/1.0/clientes/demo-vineria/img/logo_01.png" [height]="45" [width]="35"/>
   <h1 [ngStyle]="{'font-size': media == 'sm' ? '20px': '30px'}">Demo Vinería</h1> 
  </a>
  <span class="example-spacer"></span>

  <span class="buttonSocial" *ngIf="media == 'md'">
  
    <button mat-mini-fab id="whatsapp">
      <span class="material-icons"> whatsapp </span>
    </button>

    <button
      mat-mini-fab
      id="instagram"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon svgIcon="instagram"></mat-icon>
    </button>

    <button
      mat-mini-fab
      color="accent"
      id="facebook"
      aria-label="Example icon-button with heart icon"
    >

      <mat-icon svgIcon="facebook"></mat-icon>
    </button>
  </span>
</mat-toolbar>
