<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Latas Andes</mat-card-title>
      <mat-card-subtitle id="subDescription">Latas 473 cc. Rubia, Roja, Ipa o Negra.</mat-card-subtitle>
      <mat-card-subtitle id="priceCard">
         De 
       <b>$350</b>
         a 
       <b>$1500</b> 
      </mat-card-subtitle>
      <img mat-card-sm-image src="https://gaboapp.com/1.0/clientes/demo-vineria/product/lataandes.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      <!--
        Content of the card
      -->
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Latas Heineken</mat-card-title>
      <mat-card-subtitle id="subDescription">Latas 473 cc. Pack por 6 y 24.</mat-card-subtitle>
      <mat-card-subtitle id="priceCard">
         De 
       <b>$400</b>
         a 
       <b>$1500</b> 
      </mat-card-subtitle>
      <img mat-card-sm-image src="https://gaboapp.com/1.0/clientes/demo-vineria/product/lataheineken.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      <!--
        Content of the card
      -->
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Latas Imperial</mat-card-title>
      <mat-card-subtitle id="subDescription">Latas 473 cc. Apa, Golden y Roja.</mat-card-subtitle>
      <mat-card-subtitle id="priceCard">
         De 
       <b>$300</b>
         a 
       <b>$1600</b> 
      </mat-card-subtitle>
      <img mat-card-sm-image src="https://gaboapp.com/1.0/clientes/demo-vineria/product/lataimperial.jpg" >
    </mat-card-title-group>
    <mat-card-content>
      <!--
        Content of the card
      -->
    </mat-card-content>
  </mat-card>